<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>

<h2>Vet Information</h2>

<table class="table table-striped" th:object="${vet}">
  <tr>
    <th>Name</th>
    <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
  </tr>
  <tr>
    <th>Specialty</th>
    <td>
      <span th:each="specialty : ${vet.specialties}" th:text="${specialty.name + ' '}" />
      <span th:if="${vet.nrOfSpecialties == 0}">none</span>
    </td>
  </tr>
</table>

<br />
<h2>Appointments</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width: 180px;">Date Time</th>
    <th style="width: 220px;">Owner Name</th>
    <th style="width: 80px;">Pet Type</th>
    <th style="width: 150px;">Pet Name</th>
    <th>Description</th>
    <th style="width: 70px;">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment : ${vet.appointments}">
    <td th:text="${#temporals.format(appointment.startTime, 'yyyy-MM-dd hh:mm a')}"></td>
    <td th:text="${appointment?.ownerName}"></td>
    <td th:text="${appointment?.petTypeName}"></td>
    <td th:text="${appointment?.petName}"></td>
    <td th:text="${appointment?.description}"></td>
    <td><a class="btn btn-default btn-xs" th:onclick="|cancelConfirm('${vet.id}', '${appointment.id}')|">Cancel</a></td>
  </tr>
  </tbody>
</table>

<script>
  function cancelConfirm(vet_id, appointment_id) {
    let confirmAlert = confirm("Are you sure you want to cancel this appointment?");
    if (confirmAlert == true) {
      window.location.href = "/vets/"+vet_id+"/appointments/"+appointment_id+"/delete";
    }
  }
</script>
</body>

</html>
